.text-center {
  text-align: center !important;
}

.header {
  padding-top: 10px;
}

.page {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  padding: 5px 5px 5px 5px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.student-link {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  background-color: lightskyblue;
  border: 2px;
  border-color: black;
  border-radius: 5px;
  color: white;
}

.student-link:hover {
  background-color: rgb(86, 187, 250);
}

.headshot {
  border-radius: 50px;
  height: 200px;
  width: 275px;
}

.nav {
  padding: 10px, 10px, 10px, 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: grey;
}

.nav a { 
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  color: #ffffff
}

.nav a:hover {
  color: rgb(86, 187, 250)
}

/* Tile (basically a cheap version of the Bootstrap Card) Styles */
.tile {
  border-radius: 5px;
  background-color: lightgrey;
  padding: 10px;
  max-width: 75%;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
}